<ion-slides mode="ios" pager="false" [options]="slidesOptions">
    <ion-slide *ngFor="let user of users">

        <ion-card class="poster " (click)="onShowModalInfo( user )">
            <img src="./assets/avatars/{{ user.imgUser }}" style="width: 50px; height: 50px;" />
            <ion-card-content class="text-center">

                <span class=" text-center text-capitalize ">
                    {{ user.nameComplete }}
                </span>
                <button class="btn btn-sm btn-info ">
                    Seguir
                </button>
            </ion-card-content>
        </ion-card>

    </ion-slide>
</ion-slides>