.poster {
    width: 110px;
    min-width: 110px !important;
    height: 160px;
    padding: 5px 0px 15px 0px;
    // background-image: url('../../../assets/avatars/av-1.png');
}

.titlePoster {
    font-size: 15px;
    font-family: 'Comic Neue', cursive;
    font-family: 'Sen', sans-serif;
}