.bgProfile {
    background-image: url("../../../assets/img/cat-login.jpg");
}

.avatar {
    width: 50%;
    height: 50%;
}

.bg-primary {
    background-color: #f96332;
}

.title {
    padding: 10px;
}

.btnEdit {
    position: relative;
}